body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/********************HEADER*********************/
#header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

    .user-box img {
        border-radius: 50%;
        width: 250px;
        border: 2px solid #6caed5;
    }

    .user-box h1 {
        color: #fff;
        font-weight: bold;
        margin: 10px;
        /* text-align: center; */
    }

    .user-box p {
        color: #fff;
    }

.scroll-btn {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span {
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}

.scroll-bar {
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

/************ABOUT************/

.about {
    padding-top: 75px;
    margin-bottom: -200px;
    height: 300px;
}

.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand img {
    height: 50px;
}

.nav-bar .fa-bars {
    font-size: 35px;
    color: white;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-nav {
    float: right;
    text-align: right;
}

/*--------SERVICES & TECHNOLOGIES-----------*/

.services {
    background: #f8f9fa;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .services h1 {
        margin-bottom: 15px;
    }

.services-box {
    background: #fff;
    padding: 10px;
    margin-top: 20px;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
}

    .services-box .fa {
        margin: 0 10px;
        font-size: 20px;
    }

    .services-box span {
        margin: 3px;
        font-size: 20px;
        font-weight: bold;
    }

    .services-box p {
        font-size: 15px;
        margin-top: 20px;
        color: #777;
    }

    .services-box:hover {
        background: #f5f6f7;
        /* color: #777; */
        border-top-left-radius: 12.5px;
        border-top-right-radius: 12.5px;
        border-bottom-left-radius: 12.5px;
        border-bottom-right-radius: 12.5px;
        transition: 0.8s;
    }

/*--------PROJECTS-----------*/

.projects {
    background: #fff;
    /* margin-top: -50px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

    .projects h1 {
        margin-bottom: 15px;
    }

.flip-card {
    /*flip card tall all commented*/
    /* padding: 10px; */
    /* width: 300px; */
    height: 180px; /*fix this*/
    margin: auto;
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.flip-card-back {
    background-color: #f8f9fa;
    /* color: #fff; */
    transform: rotateY(180deg);
    z-index: 1;
}

    .flip-card-back .back-header {
        height: 45%;
        text-align: center;
    }

        .flip-card-back .back-header img {
            width: 50%;
            margin-top: 20px;
        }

.flip-card-inner {
    position: relative;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-back, .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back .back-footer {
    height: 55%;
    padding: 5px 15px;
}

    .flip-card-back .back-footer p {
        font-size: 13px;
    }

.back-footer a {
    background-color: #f9f9f9;
    text-decoration: none;
    font-size: 15px;
    width: 120px;
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 7px 5px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: 0.5s;
}

    .back-footer a:hover {
        text-decoration: none;
        color: #000;
        background-color: rgba(247,248,249,0.8);
        border: 1px solid rgb(122, 122, 122);
    }


/***********CONTACT***************/

.contact {
    padding-top: 50px;
    background: linear-gradient(rgba(240,240,240,0.8),rgba(240,240,240,0.8)),url(img/bg3.jpg);
    /* background: #f0f0f0;  */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

    .contact .row {
        padding: 30px 0;
        font-size: 15px;
    }

    .contact .col-md-4 .fa {
        padding: 10px;
        font-size: 40px;
    }

/***********FOOTER***************/

.footer {
    height: 80px;
    margin-top: 50px;
    background-color: #0101;
    color: #fff;
    padding-top: 10px;
}

/***********STICKY SOCIAL ICONS***************/

.social-icons {
    top: 52%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}

    .social-icons ul {
        padding: initial;
    }

        .social-icons ul li {
            height: 40px;
            width: 40px;
            list-style-type: none;
            padding-left: 12px;
            padding-top: 6px;
            margin-top: 5px;
            color: #fff;
            background-color: #0101;
        }

            .social-icons ul li:hover {
                padding-left: 30px;
                width: 80px;
                transition: 1s;
            }
